<?xml version="1.0" encoding="UTF-8"?>

<apps>
	<app name="svn" install="true" force="true" uninstall="true">
		<config>
			<copydirectory sourcedirectory="D:\pythonChocolateyTestFolder\Gagan" targetdirectory="D:\pythonChocolateyTestFolder\Gagan2"></copydirectory>
			<deletedirectory>D:\pythonChocolateyTestFolder\Gagan</deletedirectory>
			<makedirectory>D:\pythonChocolateyTestFolder\Gagan\Test</makedirectory>
			<filedelete>D:\pythonChocolateyTestFolder\test.txt</filedelete>
			<downloadfile source="http://Mysite/repository/myFiles.txt" target="D:\pythonChocolateyTestFolder\Gagan\Test" active="true" > </downloadfile>
			<copyfile sourceFile="D:\pythonChocolateyTestFolder\Gagan\Test\myFiles.txt" targetDirectory = "D:\pythonChocolateyTestFolder" newFileName ="test.txt" ></copyfile>
		</config>
	</app>
	<app name="tortoisesvn" install="true"></app>
	<app name="git.install" install="true"></app>
	<app name="sourcetree" install="true"></app>
	<app name="github" install="true"></app>
	<!-- browsers -->
 	<app name="googlechrome" install="true"></app>
 	<app name="opera" install="true"></app>
 	<app name="firefox" install="true"></app>
 	<!-- cli tools -->
 	<app name="curl" install="true"></app>
 	<app name="wget" install="true"></app>
 	<app name="conemu" install="true"></app>
 	<app name="cmder" install="false"></app>
 	<!-- archives -->
 	<app name="7zip.install" install="true"></app>
 	<!-- server side programs -->
 	<app name="nodejs.install" install="true"></app>
 	<app name="ruby" install="true"></app>
 	<app name="python" install="false"></app> <!-- will install python3 -->
 	<app name="python2" install="false"></app> <!-- will install python 2 -->
 	<app name="php" install="true"></app>
 	<!-- local tools -->
 	<app name="ccleaner" install="true"></app>
 	<app name="chocolateygui" install="false"></app>
 	<app name="teamviewer" install="true"></app>
 	<app name="urlrewrite" install="false"></app>
 	<app name="beyondcompare" install="false"></app>
 	<app name="winscp.install" install="false"></app>
 	<app name="fiddler4" install="false"></app>
 	<!-- editors -->
 	<app name="notepadplusplus.install" install="false"></app>
 	<app name="atom" install="false"></app>
 	<app name="notepad2" install="false"></app>
 	<app name="brackets" install="false"></app>
 	<app name="vim" install="false"></app>
 	<!-- pdf readers -->
 	<app name="foxitreader" install="false"></app>
 	<app name="adobereader" install="false"></app>
 	<!-- database -->
 	<app name="sqlitebrowser" install="true"></app>

	 <toolsConfig>
	 	<downloadParams params = "wget -O {target} {source}"></downloadParams>
	 	<copyfile renameExistingFile="false"></copyfile>	
	 </toolsConfig>
</apps>

