<?xml version="1.0" encoding="UTF-8"?>

<apps>
	<app name="svn" install="true" force="true" uninstall="true">
		<config>
			<copydirectory sourcedirectory="D:\pythonChocolateyTestFolder\Gagan" targetdirectory="D:\pythonChocolateyTestFolder\Gagan2" active="false"></copydirectory>
			<deletedirectory active="false">D:\pythonChocolateyTestFolder\Gagan</deletedirectory>
			<makedirectory active="false">D:\pythonChocolateyTestFolder\Gagan\Test</makedirectory>
			<filedelete active="false">D:\pythonChocolateyTestFolder\test.txt</filedelete>
			<downloadfile source="http://Mysite/repository/myFiles.txt" target="D:\pythonChocolateyTestFolder\Gagan\Test" active="false" > </downloadfile>
			<runcommand active="false">notepad C:\Windows\System32\drivers\etc\hosts </runcommand>
			<copyfile sourceFile="D:\pythonChocolateyTestFolder\Gagan\Test\myFiles.txt" targetDirectory = "D:\pythonChocolateyTestFolder" newFileName ="test.txt" active="false" ></copyfile>
			<checkout active = "true" sourceLocation="" targetLocation=""></checkout>
		</config>
	</app>
	<app name="tortoisesvn" install="false"></app>
	<app name="git.install" install="false"></app>
	<app name="sourcetree" install="false"></app>
	<app name="github" install="false"></app>
	<!-- visual studio -->
	<app name="visualstudio2013ultimate" install="false"></app>
	<app name="visualstudio2013professional" install="false"></app>
	<app name="visualstudiocommunity2013" install="false"></app>
	<app name="visualstudio2015enterprise" install="false"></app>
	<app name="visualstudio2015professional" install="false"></app>
	<!-- browsers -->
 	<app name="googlechrome" install="false"></app>
 	<app name="opera" install="false"></app>
 	<app name="firefox" install="false"></app>
 	<!-- cli tools -->
 	<app name="curl" install="false"></app>
 	<app name="wget" install="false"></app>
 	<app name="conemu" install="false"></app>
 	<app name="cmder" install="false"></app>
 	<!-- archives -->
 	<app name="7zip.install" install="false"></app>
 	<!-- server side programs -->
 	<app name="nodejs.install" install="false"></app>
 	<app name="ruby" install="false"></app>
 	<app name="python" install="false"></app> <!-- will install python3 -->
 	<app name="python2" install="false"></app> <!-- will install python 2 -->
 	<app name="php" install="false"></app>
 	<!-- local tools -->
 	<app name="ccleaner" install="false"></app>
 	<app name="chocolateygui" install="false"></app>
 	<app name="teamviewer" install="false"></app>
 	<app name="urlrewrite" install="false"></app>
 	<app name="beyondcompare" install="false"></app>
 	<app name="winscp.install" install="false"></app>
 	<app name="fiddler4" install="false"></app>
 	<!-- editors -->
 	<app name="notepadplusplus.install" install="false"></app>
 	<app name="atom" install="false"></app>
 	<app name="visualstudiocode" install="false"></app>
 	<app name="notepad2" install="false"></app>
 	<app name="brackets" install="false"></app>
 	<app name="vim" install="false"></app>
 	<app name="sublimetext3" install="false"></app>
 	<app name="sublimetext3.packagecontrol" install="false"></app>
 	<!-- pdf readers -->
 	<app name="foxitreader" install="false"></app>
 	<app name="adobereader" install="false"></app>
 	<!-- database -->
 	<app name="sqlitebrowser" install="false"></app>

	 <toolsConfig>
	 	<downloadParams params = "wget -O {target} {source}"></downloadParams>
	 	<copyfile renameExistingFile="false"></copyfile>
	 	<checkout command ="git clone {sourceLocation} {targetDirectory}"></checkout>	
	 </toolsConfig>
</apps>

